(WashingMachine_Final_Version)flows2.json
[
    {
        "id": "9c96a69236e20182",
        "type": "tab",
        "label": "流程6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8381ab76a84d848e",
        "type": "mysql",
        "z": "9c96a69236e20182",
        "mydb": "fcca1166.add63",
        "name": "Root_Localhost_node-red-temp_8080",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "754f4ac11273d513"
            ]
        ]
    },
    {
        "id": "a1e74b1b911c4a4c",
        "type": "function",
        "z": "9c96a69236e20182",
        "name": "GET DATA Statement",
        "func": "msg.topic = \"SELECT * from `temperature`\";\n//msg.topic = \"SELECT * FROM `temperature`(`Temp`)VALUES(\" + msg.payload + \") ORDER BY id DESC LIMIT 1\";\n//msg.topic = \"SELECT * FROM `temperature` ORDER BY id DESC LIMIT 1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 40,
        "wires": [
            [
                "8381ab76a84d848e"
            ]
        ]
    },
    {
        "id": "754f4ac11273d513",
        "type": "function",
        "z": "9c96a69236e20182",
        "name": "Convert time",
        "func": "//var payload=msg.payload;\nfor (var i=0;i<msg.payload.length;i++)\n{\n dateObj = new Date(msg.payload[i].Date); \n var date=dateObj.getDate();\n var month=dateObj.getMonth()+1;\n var year=dateObj.getFullYear();\n var hours=dateObj.getHours();\n var minutes=dateObj.getMinutes(); \n var seconds=dateObj.getSeconds(); \n var newtime=date+\"/\"+month+\"/\"+year;\n newtime=newtime+\"-\"+hours+\":\"+minutes+\":\"+seconds;\n msg.payload[i].Date=newtime\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 180,
        "wires": [
            [
                "9ee0df568eda8b7c"
            ]
        ]
    },
    {
        "id": "9ee0df568eda8b7c",
        "type": "ui_template",
        "z": "9c96a69236e20182",
        "group": "b870897e7c8b4fba",
        "name": "ui Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n.table\n{\n    height:800px; \n    width: 300px;\n    background:3333;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>Date</th> \n    <th>TEMPERATURE</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n    <td>{{msg.payload[$index].Date}}</td>\n    <td>{{msg.payload[$index].Temp}}</td>\n  </tr>\n</table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 160,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f1b0a3ef219679a7",
        "type": "inject",
        "z": "9c96a69236e20182",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "a1e74b1b911c4a4c"
            ]
        ]
    },
    {
        "id": "fcca1166.add63",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "node-red-temp",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b870897e7c8b4fba",
        "type": "ui_group",
        "name": "Temperature Table",
        "tab": "c6fed329fcd603d6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c6fed329fcd603d6",
        "type": "ui_tab",
        "name": "Washing Machine",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]